black==24.8.0
blinker==1.8.2
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.16.1
Flask==3.0.3
identify==2.6.1
idna==3.10
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
mando==0.7.1
MarkupSafe==2.1.5
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pre-commit==3.8.0
prometheus_client==0.21.0
prometheus_flask_exporter==0.23.1
pyright==1.1.382.post0
PyYAML==6.0.2
radon==6.0.1
requests==2.32.3
ruff==0.6.8
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.26.5
Werkzeug==3.0.4
xenon==0.9.1
